[Interface]
PrivateKey = {{ genkey.stdout }}
Address = {{ nodes[inventory_hostname] }}
ListenPort = 51000

{% for host in pubkey_list.results %}
{% if host.item != inventory_hostname %}
[Peer]
# {{ host.item }}
PublicKey = {{ host.stdout }}
AllowIPS = {{ nodes[host.item] }}
{% endif %}
{% endfor %}