[Interface]
PrivateKey = {{ genkey.stdout }}
Address = {{ nodes[inventory_hostname].Address }}
ListenPort = {{ ListenPort }}

{% for host in pubkey_list.results %}
{% if host.item != inventory_hostname %}
[Peer]
# {{ host.item }}
PublicKey = {{ host.stdout }}
AllowedIPs = {{ nodes[host.item].Address }}
Endpoint = {{ nodes[host.item].Endpoint }}:{{ ListenPort }}
{% endif %}
{% endfor %}